slider {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background: white;
}

slider > * {
  position: absolute;
  background: white;
  display: block;
  width: 100%;
  height: 100%;
  animation: slide 40s infinite;
  overflow: hidden;
}

slide:nth-child(1) {
  animation-delay: 0s;
  background-image: url('./slide1.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
slide:nth-child(2) {
  animation-delay: 5s;
  background-image: url('./slide2.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
slide:nth-child(3) {
  animation-delay: 10s;
  background-image: url('./slide3.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
slide:nth-child(4) {
  animation-delay: 15s;
  background-image: url('./slide4.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
slide:nth-child(5) {
  animation-delay: 20s;
  background-image: url('./slide5.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
slide:nth-child(6) {
  animation-delay: 25s;
  background-image: url('./slide6.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
slide:nth-child(7) {
  animation-delay: 30s;
  background-image: url('./slide7.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
slide:nth-child(8) {
  animation-delay: 35s;
  background-image: url('./slide8.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@keyframes slide {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  12.5% {
    opacity: 0;
  }
  97.5% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.herobg {
  background-color: rgba(128, 128, 128, 0.6) !important;
}
